html {
    font-size: 68%;
    line-height: 27px;
    display: block;
    text-size-adjust: 100%;
}

html [AttributesStyle] {
    -webkit-locate: "ja";
}

::selection {
    background-color: #ede9df;
    color: #333;
}

._web-inspector-hide-shortcut_, ._web-inspector-hide-shortcut_ *, ._web-inspector-hidebefore-shortcut_::before, .web-inspector-hideafter-shortcut_::after {
    visibility: hidden !important;
}

head {
    display: none; 
}

body {
    font-size:15px;
    font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
    line-height: 1.8;
    background-color: #fff;
    margin: 45px 20px;
    color: #444;
    display: block;
    overflow-wrap: break-word;
}
